body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 68px;
}

.middle-container {
  margin: 120px 0 40px;
}

.intro {
  width: 40%;
  margin: 60px auto 80px;
}

.contact-message {
  width: 30%;
  margin: 20px auto 40px;
}

.copyright-message {
  color: #eaf6f6;
  font-size: small;
  margin: 25px auto 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 1px;
}

h1 {
  margin: 20px auto -30px auto;
  font-family: "Sacramento", cursive;
  font-size: 5rem; /* 16px == 100% == 1em == 1rem */
  color: #66bfbf;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem; /* 40px */
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.pro {
  font-weight: bolder;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 250px;
}

a {
  color: #11999e;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: large;
  margin: auto 45px;
}

a:hover {
  color: #eaf6f6;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.designDev-img {
  width: 30%;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: 30px;
}

hr {
  border: dotted #eaf6f6 8px; /* this is short hand of below line
  border-style: dotted;  border-color: #eaf6f6;  border-width: 8px; */
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
